body {
    margin: 0%;
    padding: 0%;
    color: white;
    background-color: rgb(22, 22, 22);
}

.image-welcome {
    text-align: center;
    display: inline-block;
}

.menu-nav {
    background-color: rgba(199, 0, 0, 0.863);
    padding: .5rem;
    text-align: right;
}

a {
    color: white;
}
.welcome {
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    animation-name: welcome;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes welcome { 
    0% {
        top: 10rem;
        left: 5rem;
    }
    25% {
        top: 15rem;
        left: 10rem;
    }
    50% {
        top: 20rem;
        left: 15rem;
    }
    75% {
        top: 15rem;
        left: 10rem;
    }
    100% {
        top: 10rem;
        left: 5rem;
    }
}

.fondo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
}
.formulario {
    margin-top: 2rem;
}
.table {
    position: relative;
    border: solid black;
    top: 5rem;
    left: 5rem;
    font-size: 1.5rem;
    color: aquamarine;
}
th {
    font-weight: bold;
    color: blue;
}
h1.titulo {
    margin: .5rem;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
h3.titulo {
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}
.parrafo {
    color: whitesmoke
}
.red2 {
    padding: 1rem;
    width: 55%;
}

span {
    font-weight: bold;
    text-decoration: underline;
}
.iniciarSesion {
    color: black;
}
button > a {
    color: black;
}
h5 {
    text-align: center;
}
.products {
    width: 10rem;
    display: inline-block;
}
.center {
    text-align: center;
}

.btn:hover {
    transform: scale(1.5);
    transition: all .5s;
}
